.search_container
  %span 検索フォーム
  =form_with url:{controller: :bottles,action: :get_search_nickname}, method: :get do |form|
    =form.label :search_name
    =form.search_field :search_name, id: 'searching_form'
  .search_result
    %ul
:javascript
  console.log('loadingOk')
  var searchResult = $('.search_result ul')
                                        
  function dataAccess(segment,property){segment.map((n)=>{return [property]})}
  function add_result(data,count){
    searchResult.append(`<li data-name = ${data.nicknames.map((n)=>{return n.name})} data-customer = ${data.nicknames[0].customer_id} class = searchList${count}>名前：${data['nicknames'][0].name}　
                          ${(data['bottles'][0] != undefined) ? data['bottles'].map((n)=>{return n['kind_of_alchol_id']}):'空っぽです'}
                          </li>`
                        )
  }

  function no_result(msg){
    searchResult.append(`<li>${msg}</li>`)
  }

  $('#searching_form').on('keyup',(e)=>{
    e.preventDefault()
    var inputSearchBox = $('#searching_form').val()
    if(inputSearchBox != ''){ 
      search(inputSearchBox)
    } else {
      searchResult.empty()
    }
  })

  function search(inputSearchBox){
    counter = 0
    $.ajax({
      type: 'GET',
      url: 'bottles/get_search_nickname',
      data: {keyword: inputSearchBox},
      dataType: 'json'
    }).done((data)=>{
      searchResult.empty()
      if(Object.keys(data).length !== 0){
        data.forEach((data)=>{
          add_result(data,counter)
          data['bottles'][0] != undefined ? console.log(data['bottles'].map((n)=>{return n['kind_of_alchol_id']})): null
          counter +=1
        })
      } else {
        no_result('結果なし')
      }
    }).fail(()=>{

    })
  }

  counter2 = 0
  $(document).on('click','.search_result li',(e)=>{
    appendCustomer = $('.add_created_cusomer')
    console.log(targetName = $(e.target).data('name'))
    console.log(targetId = $(e.target).data('customer'))
    var addNciknameId = `<li>${targetName}
                        <input type="hidden" name="customer_bottle_form[insert_existed_customer_id][${counter2+1}]" class="input_customer_number${counter2+1}" id="input_customer_number" value=${targetId}>
                        </li>`
    if(addNciknameId){
          appendCustomer.append(addNciknameId)
          console.log(counter2)
          counter2+=1
    }else{
      alert('すでに追加されています')
    }
  })