.search_container
  %span 検索フォーム
  =form_with url:{controller: :bottle,action: :get_search_nickname}, method: :get do |form|
    =form.label :search_name
    =form.search_field :search_name, id: 'searching_form'
  .search_result
    %ul
:javascript
  var searchResult = $('.search_result ul')
  console.log('loadingOk')

  function add_result(data){
    searchResult.append(`<li>名前：${data['nicknames'][0].name}　
                          所有： ${(data['bottles'][0] != undefined) ? data['bottles'].forEach((n)=>{n.local_number}):'空っぽです'}
                          </li>`)
  }

  function no_result(msg){
    searchResult.append(`<li>${msg}</li>`)
  }

  $('#searching_form').on('keyup',(e)=>{
    e.preventDefault()
    var inputSearchBox = $('#searching_form').val()
    if(inputSearchBox != ''){ 
      search(inputSearchBox)
    } else {
      searchResult.empty()
    }
  })

  function search(inputSearchBox){
    $.ajax({
      type: 'GET',
      url: 'bottle/get_search_nickname',
      data: {keyword: inputSearchBox},
      dataType: 'json'
    }).done((data)=>{
      searchResult.empty()
      if(Object.keys(data).length !== 0){
        data.forEach((data)=>{
          add_result(data)
          console.log(data)
          data['nicknames'].forEach((n)=>{
            console.log(n)
          })
        })
      } else {
        no_result('結果なし')
      }
    }).fail(()=>{

    })
  }